* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

form input, label, button {
    width: 50%;
}

button {
    width: 40%;
}

form input {
    border: 1px solid rgb(173, 173, 173);
}

body {
    display: flex;
    padding: 5rem;
}

.form-section {
    background-color: rgb(226, 226, 226);
    width: 50vw;
    height: 80vh;
}

.computation-section {
    background-color: #74b494;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 1rem;
}