*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    background-size: cover;
}

h1{
    background: #154c79;
    color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main{
    background-color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-title{
    color: #154c79;
}

.section-text{
    color: #316ea0;
}

footer{
    background-color:  #154c79;
    color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.footer-text{
    text-align: center;
    padding: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}